.questions{
    flex-direction: column;
    width: 60%;
    height: 22.5rem;
    margin: 5rem auto;
    font-weight: bold;
    box-shadow: 2px 2px 10px 1px var(--other);
}

.quiz-navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3rem;
}

.warn{
    width: 6rem;
}
