.rules{
    margin: 1rem auto 0rem auto;
    max-width: 60%;
    flex-direction: column;
}
.list{
    margin-top: 0rem;
}

.gif{
    margin-top: 0.5rem;
    width: 14rem;
    height: 12rem;
}

.warn{
    margin-top: 1rem;
    width: 8rem;
}